<h1>Add product Admin</h1>

<form fxLayoutAlign = "stretch" fxLayout="column"> 

  <mat-form-field  >
  <input matInput type="text" class="form-control" id="name" placeholder="Product Name" [(ngModel)]="product.name" name="name">
</mat-form-field>

<mat-form-field  >

  <input matInput type="text" class="form-control" id="author" placeholder="author" name="author" [(ngModel)]="product.brand">
</mat-form-field>

<mat-form-field  >
  <input matInput type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="product.price">
</mat-form-field>

    <br>
    <input  type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

  <br>
  <button mat-button  type="button" class="btn btn-success" (click)="saveProduct()">Save product</button>
</form>


