<h1>Add User</h1>
  <form #recievedUser="ngForm" fxLayoutAlign = "stretch" fxLayout="column"> 
  <mat-form-field  >
    <input matInput type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="user.name" name="name">
  </mat-form-field>
  
  <mat-form-field  >
    <input  matInput type="text" class="form-control" id="type" placeholder="type name" [(ngModel)]="user.type" name="name">
  </mat-form-field>

  <mat-form-field  >
    <input matInput type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="user.password" name="password">
  </mat-form-field>
  

  
 

   <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
</form>